<div class="video-carousel-wrapper">
    <button class="nav-button nav-left" (click)="scrollLeft()">&#10094;</button>
  
    <div class="carousel-container">
    <div class="video-carousel" id="carousel">
      <div class="video-card" *ngFor= "let video of videoUrls">
        <iframe
          [src]= "video"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>      
      </div>
    </div>
    </div>
    <button class="nav-button nav-right" (click)="scrollRight()">&#10095;</button>
  </div>
  