<body>

    <header>
      <h1>Privacy Policy</h1>
    </header>
    <main>
      <section class="section">
          <h2>Privacy Notice</h2>
          <p><b>Last updated on: </b>November 19, 2024</p>
          <p>Welcome, and thank you for your interest in NxtWave® Privacy Policy by “Nxtwave® Disruptive Technologies Private Limited” (referred to as “NxtWave®", “Company”, “we”, “us” or “our” in this privacy policy).</p>
          <P>This privacy notice will tell you about what we collect and do with your personal information when you visit our company website or interact with us for various services or fill your personal information to contact us or want to access our services where we process your personal information.</P>
          <p>The Notice also summarizes how we will store and handle that data along with the precautions we take to protect it.</p>
          
          
          <h3>Privacy Notice Objective </h3>
          <p>This Notice applies to personal data collected through your use of any websites managed by NxtWave® and any services provided by us (downloadable software, games, mobile applications including tablet applications), and through your interaction with our activities on other platforms such as Facebook, Twitter or any such similar platforms on which a link to this Notice is displayed, and through all other communications between you and the company, through written or oral means, such as email or phone (all the above modes collectively termed as our “Service” in this Notice).</p>
          <p>It is important that you read this Notice together with the additional privacy terms or agreements policies of specific programs, campaigns or promotions conducted or organized by us. We encourage you to read these additional terms or policies or agreements before participating in any such programs, campaigns or promotions as you will be required to comply with them if you participate. This Notice supplements the other agreements you have entered with the Company and is not intended to override them unless specified in a particular jurisdiction</p>
          <p>Our business is constantly evolving and so this Notice document may change from time to time. Please come back to this Notice documents document every now and then to make sure you are familiar with the latest version of the Notice. Any new Notice published for this Service will be applicable to you from the date you agree to the updated terms of the Notice through the Service. Your continued use of the Service after the revised Notice has become effective indicates that you have read, understood and agreed to the current version of the Notice.</p>
  
          <h3>Definitions</h3>
          <p><b>“Personal Data” </b>means any information relating to an identified or identifiable natural living person. Refer to section on ‘What Personal Data We Collect’ for a more detailed description.</p>
          <p><b>“Data controller”</b> determines the purposes and means of processing personal data.</p>
          <p><b>“Data processor” </b>is responsible for processing personal data on behalf of the controller.</p>
          <p><b>“Website” </b>collectively refers to all the websites managed by NxtWave®</p>
          <p><b>“User” </b>means an individual, who primarily uses the website and/or Service for its intended purpose as outlined in the website’s or service’s Terms of Use. Where such users are also called Data Subjects, they must be an identified or identifiable natural living person.</p>
  
          <h3>Data Controller</h3>
          <p>Nxtwave® Disruptive Technologies Private Limited is the data controller responsible for your personal data for the Service in context. If you have any questions about this privacy Notice, including any requests to exercise your legal rights, please contact us using the details below.</p>
          <p><b>Email: </b><a href="privacy@ccbp.in">privacy&#64;ccbp.in</a></p>
          <p>Requests or concerns will be dealt with and/or will be responded to within 30 days of positive validation for determining the authenticity of such request and requester.</p>
  
          <h3>Third-Party Links</h3>
          <p>Our Service may contain links to third-party websites, plug-ins, and applications. Clicking on those links or enabling those connections may allow third parties to collect or share data about you. We do not control these third-party websites and are not responsible for their privacy notice and data protection measures. When you leave our Service either through such links or otherwise, we encourage you to read the privacy notice of the websites you visit.</p>
  
          <h3>What Personal Data We Collect</h3>
          <p>Personal data, or personal information means any information about an individual from which that person can be identified. It does not include data where the identity has been removed (anonymized data).</p>
          <p>We may collect, use, store, and transfer different kinds of personal data about you through the Service which we have grouped together as follows:</p>
          <p><b>"Identity Data" </b>Includes your name (first name, middle name, and last name), username or similar identifier, title, and date of birth, college ID, gender, age, photograph.</p>
          <p>Includes Govt. authorized identity proofs such as PAN, Aadhaar, Driving License, Voter ID.</p>
          <p><b>"Contact Data" </b>Includes your email address, telephone numbers, billing address, and current residence address proof (including geographic area such as city and country of residence).</p>
          <p><b>"Profile Data" </b>Includes your interests, queries, communications between you and the company, preferences, job applicant information (such as resume, job title), occupation, current institution/organization name, education qualification, year of graduation, feedback, and survey responses, employment details (salaried or self-employed).</p>
          <p>Includes your username and password, purchases or orders made by you, your interests, and preferences.</p>
          <p><b>"Marketing and Communications Data"</b> Includes your preferences in receiving marketing communications from us and our third parties, and your communication preferences.</p>
          <p><b>"Usage Data" </b>Includes information about how you use and interact with our Service (such as our websites, subscriptions, email communications, user requests, etc.)</p>
          <p><b>"Financial Data" </b>If you decide to make a payment for any of our products and services, your Financial Data, which includes your bank account and payment card details, will be collected to provide the purchased services. We may also collect monthly income, bank statements of the last 3 or 6 months/payslips.</p>
          <p>Any third - party services used to support the service provided by the company, may be given limited access to the data as per the regulatory requirements and applicable laws.</p>
          <p><b>"Transaction Data" </b>Includes details about payments to and from you and other details of products and services you have purchased from us.</p>
          <p><b>"Technical Data"</b>Includes your IP address, date and time of the inquiry, time difference to Greenwich Mean Time (GMT), the content of the request (concrete page), access status/HTTP status code, amount of data transferred in each case, website that receives the request, browser, operating system and its interface, language, and browser software version.</p>
          <p><b>"Media Data"</b> Includes photos, audios, videos, testimonials of the user given or collected with their consent, in connection with our business activities.</p>
          <p>We also collect</p>
          <p><b>"Aggregated Data"</b> which includes statistical or demographic data which may be derived from your personal data but is not considered personal data under GDPR as this data does not directly or indirectly reveal your identity.</p>
          <p>We do not collect any </p>
          <p><b>Special Categories of Personal Data</b> about you (this includes details about your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade union membership, information about your health and genetic and biometric data). Nor do we collect any information about criminal convictions and offences.</p>
  
          <h3>Ways In Which We Collect Your Personal Data</h3>
          <p>We may collect your personal data from a variety of sources. This includes:</p>
          <ol>
              <li><strong>User-provided Information</strong></li>
              <p>Personal data you give us directly. When you use the Service, as a User, you may provide, and we may collect Personal Data in the following scenarios:</p>
              <ul>
                  <li>•	When you subscribe to our newsletter or marketing communications, we may collect your email address, contact preferences, IP address, and location.</li>
                  <li>•	When you register or create an account using personal data to use our service.</li>
                  <li>•	When you apply for our various programs, events or business opportunities, through online or offline activities, we may collect your name, email address, phone number, contact preferences, IP address, location and other relevant questions such as role, education, support requested, preferred event location, etc. to validate the applications and requests.</li>
                  <li>•	When you send us customer service-related requests via email, help desk chat, social media channels, or help line phone numbers, we may request your email address and phone number to communicate the responses to your queries.</li>
                  <li>•	When you apply for a job or partnership with us, we may collect your name, email address, phone number, and resume to process your application.</li>
                  <li>•	When you enter a competition, promotion or survey, or contests offered by us, we may collect information relevant to your participation in such events.</li>
                  <li>•	When you take assessments on our platform, we may also request access to your device webcam and microphone for online proctoring, analysis and feedback.</li>
              </ul>
              <li><strong>“Automatically Collected" Information</strong></li>
              <p>When you use the Service, we may automatically record certain Technical Data and Usage Data (about your equipment, browsing actions and patterns etc. collectively referred to as “Site Usage Information”) from your device by using various types of technology, including cookies, server logs, or “web beacons.” This information is gathered from all Users.</p>
              <p>The types of information we may collect automatically include information about:</p>
              <ul>
                  <li>•	the type of browser you use</li>
                  <li>•	the details of the web pages you have viewed.</li>
                  <li>•	your IP address.</li>
                  <li>•	the dates and times of the visit, access, or use of the Service.</li>
                  <li>•	the hyperlinks you have clicked.</li>
                  <li>•	the websites you visited before arriving at our websites.</li>
                  <li>•	your interaction with notification messages, such as whether you open, click on, or forward an email or message.</li>
                  <li>•	OTPs sent to you via SMS and automatically detect them to facilitate secure authentication.</li>
                  <li>•	to help us identify your device for fraud prevention and diagnostic purposes.
                      Most internet browsers are initially set up to accept cookies. Please refer to the section on <a href="https://www.ccbp.in/cookie-policy">Cookie Notice</a> for information on types of cookies used and how we use them. You can change your browser settings to block cookies or to alert you when cookies are being sent to your device. If you use different browsers, or use multiple devices, any changes will need to be made for each browser. If you disable cookies, this may impact your experience on our websites.</li>
              </ul>
              <li><strong>Information We Receive From Other Sources:</strong></li>
              <p>We may receive information about you if you use any of the other websites we operate, any other services we provide, or from our business partners instructed to collect information on our behalf.</p>
              <p>We also work with third parties (including, for example, event partners, business partners, subcontractors in technical, payment and delivery services, advertising networks, analytics providers, search information providers, credit reference agencies, background checking agencies) and may receive information about you from them as part of the service we provide you, or for legal reasons.</p>
              <p>We may receive information about you in the form of referrals or nominations from other individuals or organizations. We will use that information only after reaching out to you and taking your consent for using the information received in this way.</p>
              <h4>Updating your personal data:</h4>
              <p>It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.</p>
          </ol>
          <h3>How We Use Your Personal Data</h3>
          <p>We will only use or process your personal data under the following lawful basis:</p>
          <ol>
              <li><b>With your consent: </b>We may process data upon your consent, asking for it as appropriate.</li>
              <li><b>Performance of a contract with you:</b> Where we need to perform the contract, we are about to enter into or have entered into with you.</li>
              <li><b>Necessary for our legitimate interests:</b> Where it is necessary for our legitimate interests (or those of a third party) and your interests and fundamental rights do not override those interests.</li>
              <li><b>Necessary to comply with a legal obligation:</b> Where we need to comply with a legal or regulatory obligation.</li>
          </ol>
          <p>We will be using your personal data for the below listed activities. Each activity is listed along with the type of personal data used for the activity and the lawful basis of processing that data.</p>
          <p><b>Purpose/Activity: </b>To send communications to users who have subscribed or signed up for updates from us</p>
          <p><b>Type of data:</b> Contact Marketing and Communications</p>
          <p><b>Lawful basis for processing:</b> Consent</p>
          <p><b>Purpose/Activity:</b> To engage & interact with users to process their applications registered for our programs and events</p>
          <p><b>Type of data:</b> Identity Contact</p>
          <p><b>Lawful basis for processing: </b>Consent</p>
          <p>Necessary for our legitimate interests (for reaching out to users who have expressed interest, for performing administrative tasks)</p>
          <p><b>Purpose/Activity: </b>To engage with registered users with regards to the programs and events they have registered for including correspondence, online and live workshops</p>
          <p><b>Type of data:</b> Identity Contact Profile</p>
          <p><b>Lawful basis for processing: </b>Consent</p>
          <p>Performance of a contract with you</p>
          <p><b>Purpose/Activity:</b> To engage with users who have expressed interest regarding business opportunities</p>
          <p><b>Type of data:</b> Identity Contact Profile</p>
          <p><b>Lawful basis for processing:</b> Consent</p>
          <p>Performance of a contract with you</p>
          <p>Necessary for our legitimate interests (evaluating the candidacy of the user, performing background checks)</p>
          <p><b>Purpose/Activity:</b> To engage with users who have applied for job openings</p>
          <p><b>Type of data:</b> Identity Contact Profile</p>
          <p><b>Lawful basis for processing:</b> Consent</p>
          <p>Performance of a contract with you</p>
          <p>Necessary for our legitimate interests (evaluating the candidacy of the user, performing background checks)</p>
          <p><b>Purpose/Activity:</b> To manage our relationship with users which will include:</p>
          <p>(a) Notifying users about changes to our terms or privacy Notice</p>
          <p>(b) Asking users to leave a review or take a survey</p>
          <p>(c) Engaging with users who have initiated a support request</p>
          <p><b>Type of data:</b> Identity Contact Profile</p>
          <p><b>Lawful basis for processing:</b> Necessary to comply with a legal obligation</p>
          <p>Necessary for our legitimate interests (for improving our service, troubleshooting issues faced by users of our service)</p>
          <p><b>Purpose/Activity:</b> To use data analytics to improve our website, products/services, marketing, customer relationships and experiences</p>
          <p><b>Type of data:</b> Technical Usage Marketing and Communications</p>
          <p><b>Lawful basis for processing:</b> Necessary for our legitimate interests (for improving our service, catering to specific interests of users, developing new products aligned to user requirements)</p>
          <p><b>Purpose/Activity:</b> To administer and protect our business and Service (including troubleshooting, data analysis, testing, system maintenance, support, reporting and hosting of data)</p>
          <p><b>Type of data:</b> Identity Contact Technical Usage</p>
          <p><b>Lawful basis for processing:</b> Necessary for our legitimate interests (for running our business, provision of administration and IT services, network security, to prevent fraud and in the context of a business reorganisation or group restructuring exercise)</p>
          <p><b>Purpose/Activity:</b> To provide the registered users an analysis and feedback of their assessment.</p>
          <p><b>Type of data:</b> Media Data</p>
          <p><b>Lawful basis for processing:</b>Consent</p>
          <p>Performance of a contract with you</p>
          <h3>Disclosure Of Your Personal Data</h3>
          <p>Except as described in this Notice, we will not intentionally disclose the Personal Data that we collect or store on the Service to third parties without the consent of the User.</p>
          <p>We may disclose information to third parties if you consent to us doing so, as well as in the following circumstances:</p>
          <ol>
              <li><strong>To Data Processors:</strong></li>
              <p>We use partners (data processors) for some business processes that are not core to our expertise but are critical to our users having a quality experience. Where we provide your personal data to data processors, we will have in place a written agreement with each third party confirming on what basis the third party will handle your personal data and will ensure that there are sufficient safeguards and processes in place to protect your personal data.</p>
              <li><strong>To Third Party Service Providers</strong></li>
              <p>We work with third party service providers who provide website, application development, hosting, maintenance, and other services for us. These third parties may have access to, or process Personal Data as part of providing those services for us. We limit the access and information provided to these service providers to that which is reasonably necessary for them to perform their functions, and our contracts with them require them to maintain the confidentiality of such information.</p>
              <li><strong>Non Personally Identifiable Information</strong></li>
              <p>We may make certain automatically collected, aggregated, or otherwise non-personally-identifiable information available to third parties for various purposes, including (i) compliance with various reporting obligations; (ii) for business or marketing purposes; or (iii) to assist such parties in understanding our Users’ interests, habits, and usage patterns for certain programs, content, services, and/or functionality available through the Service.</p>
              <li><strong>To Law Enforcement, Legal Process and Compliance</strong></li>
              <p>We may disclose Personal Data or other information if required to do so by law or in the good-faith belief that such action is necessary to comply with applicable laws, in response to a facially valid court order, judicial or other government subpoena or warrant, or to otherwise cooperate with law enforcement or other governmental agencies.</p>
              <p>We also reserve the right to disclose Personal Data or other information that we believe, in good faith, is appropriate or necessary to (i) take precautions against liability, (ii) protect ourselves or others from fraudulent, abusive, or unlawful uses or activity, (iii) investigate and defend ourselves against any third-party claims or allegations, (iv) protect the security or integrity of the Service and any facilities or equipment used to make the Service available, or (v) protect our property or other legal rights, enforce our contracts, or protect the rights, property, or safety of others.</p>
              <li><strong>Due To Change of Ownership</strong></li>
              <p>Information about Users, including Personal Data, may be disclosed and otherwise transferred to an acquirer, successor or assignee as part of any merger, acquisition, debt financing, sale of assets, or similar transaction, as well as in the event of an insolvency, bankruptcy, or receivership in which information is transferred to one or more third parties as one of our business assets or for the sole purpose of continuing the operation of the Service, only if the recipient of the User Data commits to a Privacy Notice that has terms substantially consistent with this Privacy Notice.</p>
              <p>We may seek to acquire other businesses or merge with them. If a change happens to our business, then the new owners may use your personal data in the same way as set out in this privacy Notice.</p>
              <li><strong>To Business Partners</strong></li>
              <p>If you participate in any events conducted or hosted by us in partnership with our business partners, we may share your personal data collected for event purposes with the partners, only after taking your explicit consent.</p>
              <p>The terms of such partnerships may include sharing personal data with business partners for event administration purposes, for communicating event related announcements, for announcing contest winners (if applicable), or for extending offers on certain products, services, and promotions from business partners to event participants etc.</p>
              <p>Once the personal data is transferred to a business partner, that data will be governed as per the partner's privacy policies on which we do not have any control. Hence, we recommend that you read and understand the terms and conditions stipulated for that specific event before giving your consent.</p>
          </ol>
          <p>We require all third parties to respect the security of your personal data and to treat it in accordance with the law. We do not allow our third-party service providers to use your personal data for their own purposes and only permit them to process your personal data for specified purposes and in accordance with our instructions.</p>
          <h3>Data Security</h3>
          <p>We have put in place appropriate security measures to prevent your personal data from being accidentally lost, used or accessed in an unauthorized way, altered or disclosed. In addition, we limit access to your personal data to those employees, agents, contractors and other third parties who have a business need to know. They will only process your personal data on our instructions, and they are subject to a duty of confidentiality.</p>
          <p>We have put in place procedures to deal with any suspected personal data breach and will notify you and any applicable regulator of a breach where we are legally required to do so.We follow generally accepted industry standards to protect the information submitted to us, both during transmission and once we receive it. We maintain appropriate administrative, technical and physical safeguards to protect Personal Data against accidental or unlawful destruction, accidental loss, unauthorized alteration, unauthorized disclosure or access, misuse, and any other unlawful form of processing of the Personal Data in our possession. This includes, for example, firewalls, password protection and other access and authentication controls. We use SSL technology to encrypt data during transmission through the public internet,and we also employ application-layer security features to further anonymize Personal Data.</p>
          <p>However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. We cannot ensure or warrant the security of any information you transmit to us or store on the Service, and you do so at your own risk. We also cannot guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. If you believe your Personal Data has been compromised, please contact us as set forth in the “Data Controller” section.</p>
          <p>If we learn of a security systems breach, we will inform you and the authorities of the occurrence of the breach in accordance with applicable law.</p>
          <h3>Data Storage</h3>
          <p>Our services are hosted on servers located across the world. Also, as a company with teams working across the world, we may process your data from different regions of the world. If you are accessing our services, you agree to your information being transferred to, stored, and processed by us and by those third parties (whom we may share your personal information) from any or all of these locations.</p>
          <h3>Data Retention</h3>
          <p>We will only retain your personal data for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p>
          <p>Only minimum personal data, from the larger set of data (including Contact, Identity, Financial Transaction and other Data) which was collected from the user will be retained until the dissolution of the Entity and also for the subsequent period as mandated by the statute from time to time. And such retention will be as per applicable regulations and statutory guidelines.</p>
          <p>To determine the appropriate retention period for personal data, we consider the amount, nature, and sensitivity of the personal data, the potential risk of harm from unauthorized  use or disclosure of your personal data, the purposes for which we process your personal data and whether we can achieve those purposes through other means, and the applicable legal requirements.</p>
          <p>In some circumstances you can ask us to delete your data.</p>
          <p>In some circumstances we may anonymize  your personal data (so that it can no longer be associated with you) for research or statistical purposes in which case we may use this information indefinitely without further notice to you.</p>
          <h3>Your Rights as a Data Subject</h3>
          <h4>(where we hold your Personal Data)</h4>
          <p>Under certain circumstances, you have rights under the applicable data protection laws in relation to your personal data. We set out below a brief description of such rights:</p>
          <h4>Request access to your personal data </h4>
          <p>(commonly known as a “data subject access request”): This enables you to receive a copy of the personal data we hold about you and to check that we are lawfully processing it.</p>
          <h4>Request correction of your personal data:</h4>
          <p> This enables you to have any incomplete or inaccurate data we hold about you corrected, though we may need to verify the accuracy of the new data you provide to us.</p>
          <h4>Request erasure of your personal data:</h4>
          <p> This enables you to ask us to delete or remove personal data where there is no good reason for us continuing to process it. You also have the right to ask us to delete or remove your personal data where you have successfully exercised your right to object to processing (see below), where we may have processed your information unlawfully or where we are required to erase your personal data to comply with local law. Note, however, that we may not always be able to comply with your request of erasure for specific legal reasons which will be notified to you, if applicable, at the time of your request.</p>
          <h4>Object to the processing of your personal data:</h4>
          <p> Where we are relying on a legitimate interest (or those of a third party) and there is something about your particular situation which makes you want to object to processing on this ground as you feel it impacts on your fundamental rights and freedoms. You also have the right to object where we are processing your personal data for direct marketing purposes. In some cases, we may demonstrate that we have compelling legitimate grounds to process your information which override your rights and freedoms</p>
          <h4>Request restriction of processing your personal data:</h4><p> This enables you to ask us to suspend the processing of your personal data in the following scenarios: (a) if you want us to establish the data’s accuracy; or (b) you have objected to our use of your data but we need to verify whether we have overriding legitimate grounds to use it</p>
          <h4>Request the transfer of your personal data to you or to a third party:</h4> 
           <p>We will provide to you, or a third party you have chosen, your personal data in a structured, commonly used, machine-readable format. Note that this right only applies to automated information which you initially provided consent for us to use or where we used the information to perform a contract with you.</p>
           <h4>Withdraw consent at any time where we are relying on consent to process your personal data:</h4>
           <p> However, this will not affect the lawfulness of any processing carried out before you withdraw your consent. If you withdraw your consent, we may not be able to provide certain products or services to you. We will advise you if this is the case at the time you withdraw your consent</p>
          <p>If you wish to exercise any of the rights set out above, please contact us.</p>
          <h4>Right to complain to a supervisory authority: </h4> <p>You also have the right to complain to a relevant data protection supervisory authority about our processing of your personally identifiable information.</p>
          <h4>No fee usually required</h4>
          <p>You will not have to pay a fee to access your personal data (or to exercise any of the other rights). However, we may charge a reasonable fee if your request is clearly unfounded, repetitive or excessive. Alternatively, we may refuse to comply with your request in these circumstances.</p>
          <h4>What we may need from you</h4>
          <p>We may need to request specific information from you to help us confirm your identity and ensure your right to access your personal data (or to exercise any of your other rights). This is a security measure to ensure that personal data is not disclosed to any person who has no right to receive it. We may also contact you to ask you for further information in relation to your request to speed up our response.</p>
          <h4>Time limit to respond</h4>
          <p>We try to respond to all legitimate requests within one month. Occasionally it may take us longer than a month if your request is particularly complex or you have made a number of requests, in which case we will inform you of an extension period of up to 2 months. In this case, we will keep you informed on progress.</p>
          <h2>Cookie Notice</h2>
          <p>Our cookie policy can be found <a href="https://www.ccbp.in/cookie-policy">here</a></p>
          <h3>Privacy for Children</h3>
          <p>Protecting the privacy of children (as defined in the particular jurisdiction) is very important to us. We do not knowingly collect Personal Data from children without obtaining parental consent. If you are a child, then please do not use or access the Service, at any time or in any manner, without the direct supervision of your parent or legal guardian. If you are a child and would like to participate in any of our programs and events, kindly request your parent or legal guardian to contact us with a request on your behalf</p>
          <p>If we learn that Personal Data has been collected on the Service from children and without verifiable parental consent, then we will take the appropriate steps to delete this information. If you are a parent or guardian and discover that your child has engaged or interacted with the service without your knowledge and consent, then you may alert us at privacy&#64;ccbp.in and request that we delete that child’s Personal Data from our systems.</p>
          <h3>Changes to Privacy Notice</h3>
          <p>If we decide to change our privacy Notice, we will post the changes here. If the changes are significant, we may also choose to email all our registered users with the new details. If required by law, we will get your permission or give you the opportunity to opt out of any new uses of your data.</p>
          <p>Please revisit this page periodically to stay aware of any changes to this Notice, which we may update from time to time. If we modify the Notice, we will make it available through the Service, and indicate the date of the latest revision, and will comply with applicable law.</p>
          <h3>OUR PRIVACY PRINCIPLES</h3>
          <p>We operate in multiple jurisdictions and to maintain global privacy posture and maximum legal compliance we have our privacy principles based on OECD guidelines, which also serves as founding principles for laws including however not limited to EU GDPR, UK DPA2018, CCPA, proposed Indian privacy bill. As per current IT ACT and its revisions from 2008, 2011 under sections 72A, 43A, 66, 66E,  we are committed to respect your data safety, privacy, confidentiality and consent requirements</p>
          <p>The OECD Privacy guidelines are high-level policy recommendations that can be used as a basis to develop a privacy protection framework with the flexibility to accommodate regional and local variations. Meanwhile, they also facilitate international interoperability for transborder flows of personal data. We follow the following principles in our “Data Privacy & Protection” practices and our controls are regularly evaluated for:</p>
          <ul>
              <li><strong>•	Collection Limitation Principle</strong></li>
              <p>There should be limits to the collection of personal data and any such data should be obtained by lawful and fair means and, where appropriate, with the knowledge or consent of the data subject.</p>
              <li><strong>•	Data Quality Principle</strong></li>
              <p>Personal data should be relevant to the purposes for which they are to be used, and, to the extent necessary for those purposes, should be accurate, complete and kept up to date.</p>
              <li><strong>•	Purpose Specification Principle</strong></li>
              <p>The purposes for which personal data are collected should be specified not later than at the time of data collection and the subsequent use limited to the fulfilment of those purposes or such others as are not incompatible with those purposes and as are specified on each occasion of change of purpose.</p>
              <li><strong>•	Use Limitation Principle</strong></li>
              <p>Personal data should not be disclosed, made available or otherwise used for purposes other than those specified in accordance with lawful grounds as defined by applicable laws:</p>
              <ul>
                  <li>(a) with the consent of the data subject; or</li>
                  <li>(b) by the authority of law.</li>
              </ul>
              <li><strong>•	Security Safeguards Principle</strong></li>
              <p>Personal data should be protected by reasonable security safeguards against such risks as loss or unauthorized access, destruction, use, modification or disclosure of data.</p>
              <li><strong>•	Openness Principle</strong></li>
              <p>There should be a general policy of openness about developments, practices and policies with respect to personal data. Means should be readily available of establishing the existence and nature of personal data, and the main purposes of their use, as well as the identity and usual residence of the data controller.</p>
              <li><strong>•	Individual Participation Principle </strong></li>
              <p>An individual should have the right:</p>
              <ol>
                  <li>to obtain from a data controller, or otherwise, confirmation of whether or not the data controller has data relating to him.</li>
                  <li>to have communicated to him, data relating to him within a reasonable time.</li>
                  <li>at a charge, if any, that is not excessive.</li>
                  <li>in a reasonable manner; and</li>
                  <li>in a form that is readily intelligible to him.</li>
                  <li>to be given reasons if a request made under subparagraphs(a) and (b) is denied, and to be able to challenge such denial; and</li>
                  <li>to challenge data relating to him and, if the challenge is successful to have the data erased, rectified, completed or amended.</li>
              </ol>
              <li><strong>•	Accountability Principle</strong></li>
              <p>A data controller should be accountable for complying with measures which give effect to the principles stated above</p>
          </ul>
      </section>
    </main>
  
  
  </body>
